.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3px;
    height: 100%;
}
.buttons button{
    color: white;
    border: 1px solid #3b3b3b;
    border-radius: 3px;
    padding: 5px
}
.number{
    background: #3b3b3b;
}
.number:hover{
    background: #303030;
}
.number:active{
    background: #272727;
}
.operation{
    background: #303030;
}
.operation:hover{
    background: #3b3b3b; 
}
.operation:active{
    background: #303030;
}
.equal{
    color: black !important;
    background: #fc9980;
}
.equal:hover{
    background: #c97a67;
}
.equal:active{
    background: #b16855;
}
.operation:nth-child(5) {grid-area: 2 / 4}
.operation:nth-child(6) {grid-area: 3 / 4}
.operation:nth-child(7) {grid-area: 4 / 4}

.number:nth-child(8) { grid-area: 5 / 2; }
.number:nth-child(9) { grid-area: 4 / 1; }
.number:nth-child(10) { grid-area: 4 / 2; }
.number:nth-child(11) { grid-area: 4 / 3; }
.number:nth-child(12) { grid-area: 3 / 1; }
.number:nth-child(13) { grid-area: 3 / 2; }
.number:nth-child(14) { grid-area: 3 / 3; }