.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3px;
    height: 100%;
}
.buttons button{
    color: white;
    border: 1px solid #3b3b3b;
    border-radius: 3px;
    padding: 5px
}
.number{
    background: #3b3b3b;
}
.number:hover{
    background: #303030;
}
.number:active{
    background: #272727;
}
.operation{
    background: #303030;
}
.operation:hover{
    background: #3b3b3b; 
}
.operation:active{
    background: #303030;
}
.equal{
    color: black !important;
    background: #fc9980;
}
.equal:hover{
    background: #c97a67;
}
.equal:active{
    background: #b16855;
}
.number:nth-child(1) { grid-area: 4 / 2; }
.number:nth-child(2) { grid-area: 3 / 1; }
.number:nth-child(3) { grid-area: 3 / 2; }
.number:nth-child(4) { grid-area: 3 / 3; }
.number:nth-child(5) { grid-area: 2 / 1; }
.number:nth-child(6) { grid-area: 2 / 2; }
.number:nth-child(7) { grid-area: 2 / 3; }
.operation {grid-area: auto / 4}