body {
    height: 100vh;
    margin: 0;
    width: 100vw;
  }
  #Calculator {
    background: #202020;
    box-shadow: 0px 0px 32px -4px rgba(198, 198, 198, 1);
    display: flex;
    flex-direction: column;
    height: min(100%, 530px);
    justify-content: space-between;
    left: 50%;
    overflow: hidden;
    padding: 6px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: min(100%, 320px);
  }